*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}

.app_header{
  background-color: white;
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
}

.app_logo{
  vertical-align: middle;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
